{{!--

If the user is logged in , and 'GET /protected' endpoint is called, you will render this view based on the specs.

--}}
<main>
    <p>Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}}, Your role in the system is {{role}}.</p>

    {{#if isAdmin}}
        <a id="admin-hidden" href="/admin">Admin</a>
    {{/if}}

    <a href="/logout">Logout</a>

</main>